
/* ---------- Classes ---------- */
.modal {
	background-color: rgba(51, 51, 51, 0.85);
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	/* flex-direction: column; */
	justify-content: center;
	align-items: center;
	z-index: 100;
	color: white;
	font-size: larger;
}

.justItm_c{
	justify-items: center;
}
.showScrollBar::-webkit-scrollbar{
	display: block !important
}

/* ---------- Main elements ---------- */
#loading {
	background-color: #111;
	opacity: 1;
	z-index: 1000;
	font-size: var(--global-font-size);;
}


/* ----------- Animations ----------- */
.load-7 .square-holder{
    text-align: center;
}
.load-7 .loading-icon {

	position: relative;
	top: 0;
	left: 0;
	/* animation: combined 2s linear infinite alternate; */
    /* -webkit-animation: combined 2s linear infinite alternate; */
    animation: animLoadingWheel 1.5s cubic-bezier(0.17, 0.37, 0.43, 1) infinite alternate;
    -webkit-animation: animLoadingWheel 1.5s cubic-bezier(0.17, 0.37, 0.43, 1) infinite alternate;
}

@keyframes animLoadingWheel {
    0% {
        transform: translate(-70px, 0) rotate(0deg);
    }
    100% {
        transform: translate(70px, 0) rotate(360deg);
    }
}

/* Extend lexgui css */
.floating-button {
	/* border-radius: 80px !important;
    width: 23% !important;
    background-color: var(--global-selected)!important;
	justify-content: center; */

	border-radius: 80px !important;
	width: 30px !important;
    background-color: var(--global-selected) !important;
    padding: var(--global-padding-sm) 0.1875rem !important;
    min-width: 0% !important;
}

.floating-button-playing {
	border-radius: 80px !important;
	width: 30px !important;
    padding: var(--global-padding-sm) 0.1875rem !important;
    min-width: 0% !important;
	animation: ease pulse 2s infinite;
	-webkit-animation: ease pulse 2s infinite;
}

@keyframes pulse {
	0% {
		background-color: red;
		border-color: red;
		border: 2px;
	}
	50% {
		background-color: #f06c6c;
		border-color: #f06c6c;
		border: 2px;
	}
	100% {
		background-color: red;
		border-color: red;
		border: 2px;
	}
}
  
.flex-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-container {
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
}

.left-container i.button:hover span, .left-container i.big-button:hover span {
    left: 0px;
}

.lexbutton.roundedbtn {
	width: 100px !important;
    height: 100px !important;
    border-radius: 49px;
    justify-content: center;
    align-items: center;
    border: 4px solid var(--global-branch-darker);
	background-color: rgb(42, 42, 42)!important;
}
.lexbutton.roundedbtn.selected {
	border: 4px solid whitesmoke
}
.roundedbtn:hover{
	border: 4px solid var(--global-selected-light);;
}
.roundedbtn img{
	width: 120px;
}
.centered {
	justify-content: center;
}

/* Overlay buttons*/
.lexoverlaybuttons {
    width: auto !important;
    height: auto !important;
    justify-content: start;
    gap: 0px;
    z-index: 95;
    background-color: var(--global-color-secondary);
    margin: 8px;
    padding: 0.25em;
    border-radius: 12px;
}
.lexoverlaybuttonscontainer .lexcomponent button:hover {
	background-color: #313132cf!important;
}
.lexoverlaybuttons .lexcomponent.larger button:hover svg {
	width: 1.4rem!important;
	height: 1.4rem!important;
}
.lexoverlaybuttons .lexcomponent button {
	border-radius: 80px!important;
    height: auto!important;
	background-color: #3131323f;
}

.lexoverlaybuttons .lexcomponent.larger button {

	width: 37px!important;
	height: 37px!important;	
    max-height: 80px!important;
	max-width: 80px!important;
}

.lexoverlaybuttons .lexcomponent.larger button svg {
	width: 1.2rem;
    height: 1.2rem;
}
.no-padding{
	padding: 5px!important;
}

.lexoverlaybuttons .lexcomponent.large {
    margin: 0 10px!important;
}

.lexoverlaybuttons .lexcomponent.large button {
	width: 60px!important;
	height: 60px!important;
    max-height: 80px!important;
	max-width: 80px!important;
}

.lexoverlaybuttons .lexcomponent.large button svg {
	width: 1.4rem;
    height: 1.4rem;
}
.lexoverlaybuttons .lexcomponent.large button:hover svg {
	width: 1.6rem;
    height: 1.6rem;
}

.lexoverlaybuttons .lexcomponent.relative {    
    margin: 0;
    min-height: 32px;
}

.lexoverlaybuttons .lexcomponent.relative button{    
    height: 32px!important;
}

.lexoverlaybuttons .lexcomponent.relative button a {
    line-height: 19px;
    font-size: var(--global-font-size);
}

.lexoverlaybuttons .lexcomponent.relative.left {    
    margin-right: 77px;
}

.lexbutton.selected {
    background: var(--global-selected);
    outline: 1px solid var(--global-color-terciary);
    color: #DDD;
}
.lexoverlaybuttons .lexcomponent {
	visibility: visible;
	transition: transform 0.2s ease, opacity 0.2s ease, visibility 0.2s ease;
}
.lexoverlaybuttons .lexcomponent.hide {
	transform: translateY(-20px);
    opacity: 0;
	visibility: hidden;

}
	
.lexbutton.accept:hover {
    background-color: #BB86FC;
}

/* GUIDE */ 

.guide-modal {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background-color: #1e1e2fe6;
}

.guide-modal .container {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 20%;
	transform: translate(-50%, -50%) scale(0.8);
	background-color: #1E1E2F;
	padding: 30px;
	border-radius: 12px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
	transition: transform 0.3s ease, opacity 0.3s ease;

	color: #FFFFFF;
}
@media all and (orientation:portrait) {
	.guide-modal .container {
		width: 80%;
	}
}

.guide-modal .container.show {
	display: flex;
	flex-direction: column;
	transform: translate(-50%, -50%) scale(1);
}

.guide-modal .container h2 {
	color: #BB86FC;
}

.guide-modal .container p {
	text-align: justify;
}

.guide-modal .container p i, .guide-modal .container p strong {
	color:#BB86FC;
}

.guide-modal .container img {
	/* height: 200px; */
	border-radius: 10px;
}

.guide-modal .container button {
	background-color: #6200EA;
	color: #FFFFFF;
	border: none;
	padding: 10px 15px;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 10px;
	transition: background-color 0.3s;
}

.guide-modal .container button:hover {
	background-color: #BB86FC;
}

.guide-modal .container span {
	position: absolute;
	width: 40px;
	right: 0px;
}

.guide-modal span:hover {
	cursor: pointer;
	color: #BB86FC;
}

.iframe-text textarea{
	color: var(--global-text-secondary)!important;
}

/* Copy pop up feedback*/
#bubble {
	display: none; /* Initially hidden */
    position: absolute;
	background-color: #6200EA;
	color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    transition: opacity 0.3s ease;
    opacity: 0;
    pointer-events: none; /* Prevent mouse events on the bubble */
	z-index: 1000;
}

#bubble.show {
    display: block;
    opacity: 1;
}